form {
    margin-top: 100px;
}

.signup-card {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
}

mat-form-field, button{
    width: 100%;
}

button {
    margin-bottom: 10px;
}

#signup {
    font-size: 20px;
    text-align: center;
}