<form #loginForm="ngForm">
  <mat-card class="login-card">
    <mat-card-title id="login">Log in</mat-card-title>
    <mat-card-content>
      <p class="alertError" *ngIf="error !== ''">{{ error }}</p>
      <mat-form-field>
        <input matInput placeholder="Username" type="text" 
        name="username" required [(ngModel)]="user.username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" 
        name="password" required [(ngModel)]="user.password">
      </mat-form-field>
    </mat-card-content>
    
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="logIn()">Log in</button>
    <button mat-raised-button color="accent" routerLink="/signup">Sign up Here</button>
  </mat-card>

</form>