<form>
  <div mat-dialog-title>
    Edit user
  </div>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="First Name" type="text" 
      name="firstname" [(ngModel)]="user.firstname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" 
      name="lastname" [(ngModel)]="user.lastname">
    </mat-form-field>
    <div>
      <button mat-raised-button color="accent"
      (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary"
      (click)="edit()" cdkFocusInitial>Edit</button>
    </div>
  </div>
</form>