#nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 20px;
    z-index: 200;
    padding-top: 5px;
}

#menu, #profile, #ico {
    position: absolute;
    float: right;
}

#menu {
    right: 80px;
}

#ico {
    right: 20px;
    bottom: 8px;
}

#profile {
    right: 200px;
}

@media screen and (max-width: 600px) {
    #menu {
        bottom: 8px;
    }
}