<section class="flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary" class="mat-elevation-z10" id="nav">
    <mat-toolbar-row>
      Online store
      <button mat-icon-button id="menu" *ngIf="!isLoggedIn" [matMenuTriggerFor]="menu">
        Menu
      </button>
      <button mat-icon-button id="ico" *ngIf="isLoggedIn" (click)="toggleSidenav()">
        <i class="material-icons">apps</i>
      </button>
      <button mat-icon-button id="profile" *ngIf="isLoggedIn" [matMenuTriggerFor]="profile">
        {{ name }}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</section>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/signup">
    <mat-icon>perm_identity</mat-icon>
    <span>Sign up</span>
  </button>
  <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/login">
    <mat-icon>lock_open</mat-icon>
    <span>Log in</span>
  </button>
</mat-menu>

<mat-menu #profile="matMenu">
  <button mat-menu-item (click)="editProfileDialog()">
    <mat-icon>mode_edit</mat-icon>
    <span>Edit profile</span>
  </button>
  <button mat-menu-item (click)="createItemDialog()">
    <mat-icon>add</mat-icon>
    <span>Add new item</span>
  </button>
  <button mat-menu-item (click)="addGroupDialog()">
    <mat-icon>add</mat-icon>
    <span>Add Group</span>
  </button>
  <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
    <mat-icon>lock_outline</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
