/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~css-star-rating/dist/css/star-rating.css";

body {
    background: rebeccapurple;
    font-size: 1.2em !important;
}

.alertError {
    color: red;
}

